<head>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css" />
    <link rel="stylesheet" href="/custom.css" />
    <script src="//code.jquery.com/jquery-1.9.1.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script>
        $(function() {
            $(document).tooltip();
        });
    </script>

    <title>Welcome... To Game Night!</title>
</head>
<body class="layout">
<center>
	<h2>Welcome... To Game Night!</h2>
	%content%
	<br/>
	<a href="%base_url%/add">Add New Game Results</a><br/>
	<a href="%base_url%/scores">Display the Scoreboard</a><br/>
</center>
</body>




